In [1]:
#tuple

In [5]:
a=(1,2,3,4,5,6,7)
b=('ball','cat','dog')
print(a)
print(b)
print(type(a))

(1, 2, 3, 4, 5, 6, 7)
('ball', 'cat', 'dog')
<class 'tuple'>

In [6]:
print(b[0])

ball

In [7]:
a=(1,2,3,4,5,6,7)
b=('ball','cat','dog')
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 'ball', 'cat', 'dog')

In [11]:
a=tuple()
#a=()
a=a+('apple',)
a

('apple',)

In [12]:
t=()
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    t=t+(x,)
    
t

enter n=3
enter x=1
enter x=2
enter x=2

(1, 2, 2)

In [14]:
a=(1,2,3,5,6,7)
a=list(a)
del a[0]
a=tuple(a)
a

(2, 3, 5, 6, 7)

In [16]:
#tuple in tuple

In [20]:
a=((12,23213,21321),(312312,321312312,1232123))
a

((12, 23213, 21321), (312312, 321312312, 1232123))

In [1]:
n=int(input("Enter n="))
t=()
for i in range(n):
    name=input("Enter name:")
    age=int(input('Enter age='))
    add=input("Enter address:")
    x=(name,age,add)
    t=t+(x,)
t

Enter n=2
Enter name:ram
Enter age=12
Enter address:ktm
Enter name:sam
Enter age=19
Enter address:bkt

(('ram', 12, 'ktm'), ('sam', 19, 'bkt'))

In [4]:
a=(('ram', 12, 'ktm'), ('sam', 19, 'bkt'))
list(a)

[('ram', 12, 'ktm'), ('sam', 19, 'bkt')]

In [6]:
b=[]
a=(('ram', 12, 'ktm'), ('sam', 19, 'bkt'))
for i in a:
    b.append(list(i))
    
b

[['ram', 12, 'ktm'], ['sam', 19, 'bkt']]

In [8]:
b=()
a=[['ram', 12, 'ktm'], ['sam', 19, 'bkt']]
for i in a:
    b=b+(tuple(i),)
    
b

(('ram', 12, 'ktm'), ('sam', 19, 'bkt'))

In [11]:
#set


#NO indexing
#Multiple value
#NO duplicate
#Mutuable

In [14]:
a={1,2,3,4,5}
b={'apple','ball','cat','dog'}
print(type(a))

<class 'set'>

In [16]:
a={1}
type(a)

set

In [19]:
b={2,'apple',4,'ball','cat','dog',1,3,5}
print(b)

{1, 2, 3, 4, 'cat', 5, 'dog', 'ball', 'apple'}

In [20]:
a=set()
a.add('apple')
a.add('ball')
a

{'apple', 'ball'}

In [22]:
a={2,'apple',4,'ball','cat','dog',1,3,5}
a.remove('apple')
a

{1, 2, 3, 4, 5, 'ball', 'cat', 'dog'}

In [25]:
a={1, 2, 3, 4, 5, 'ball', 'cat', 'dog'}
a.update({6,7,78})
a

{1, 2, 3, 4, 5, 6, 7, 78, 'ball', 'cat', 'dog'}

In [26]:
apple={'ram','sam','hari','john'}
ms={'ram','sam','jobs','bill'}

In [27]:
#union
apple.union(ms)

{'bill', 'hari', 'jobs', 'john', 'ram', 'sam'}

In [28]:
apple.intersection(ms)

{'ram', 'sam'}

In [29]:
apple.difference(ms)

{'hari', 'john'}

In [30]:
a={(1,23,4,5),[2311,123,123213,1]}
a

TypeError: unhashable type: 'list'