In [1]:
#dict in list

In [5]:
l=[
    {'name':'ram',
    'age':12,
    'addr':"ktm"},
    {'name':'shyam',
    'age':18,
    'addr':"dhg"},
    {'name':'sam',
    'age':21,
    'addr':"bkt"}
    
]
print(l)

[{'name': 'ram', 'age': 12, 'addr': 'ktm'}, {'name': 'shyam', 'age': 18, 'addr': 'dhg'}, {'name': 'sam', 'age': 21, 'addr': 'bkt'}]

In [6]:
data=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("ENter name")
    age=int(input("ENter age"))
    add=input("ENter address")
    info={'name':name,'age':age,'add':add}
    data.append(info)
    
print(data
     )

Enter n=1
ENter nameram
ENter age12
ENter addressktm
[{'name': 'ram', 'age': 12, 'add': 'ktm'}]

In [7]:
a=[{'name': 'ram', 'age': 12, 'add': 'ktm'}]
b={'name':'hari','age':19,'add':'ktm'}
a.append(b)
print(a)

[{'name': 'ram', 'age': 12, 'add': 'ktm'}, {'name': 'hari', 'age': 19, 'add': 'ktm'}]

In [9]:
a=[{'name': 'ram', 'age': 12, 'add': 'ktm'}, {'name': 'hari', 'age': 19, 'add': 'ktm'}]
b=a[0]['name']
print(b)

ram

In [10]:
a[0]['name']='aj'
a

[{'name': 'aj', 'age': 12, 'add': 'ktm'},
 {'name': 'hari', 'age': 19, 'add': 'ktm'}]

In [11]:
#dict in dict

In [15]:
a={
    1:{'name':'ram','age':12,'add':'ktm'},
     2:{'name':'hari','age':19,'add':'bkt'},
     3:{'name':'shyam','age':18,'add':'lal'}
    
}
a

{1: {'name': 'ram', 'age': 12, 'add': 'ktm'},
 2: {'name': 'hari', 'age': 19, 'add': 'bkt'},
 3: {'name': 'shyam', 'age': 18, 'add': 'lal'}}

In [16]:
a={}
n=int(input('Enter n='))
for i in range(1,n+1):
    name=input("ENter name")
    age=int(input("ENter age"))
    add=input("ENter address")
    info={'name':name,'age':age,'add':add}
    a[i]=info
a

Enter n=1
ENter nameram
ENter age12
ENter addressktm

{1: {'name': 'ram', 'age': 12, 'add': 'ktm'}}

In [18]:
a={1: {'name': 'ram', 'age': 12, 'add': 'ktm'},
 2: {'name': 'hari', 'age': 19, 'add': 'bkt'},
}
a[3]= {'name': 'shyam', 'age': 18, 'add': 'lal'}
a

{1: {'name': 'ram', 'age': 12, 'add': 'ktm'},
 2: {'name': 'hari', 'age': 19, 'add': 'bkt'},
 3: {'name': 'shyam', 'age': 18, 'add': 'lal'}}

In [19]:
a[1]['name']='aj'
a

{1: {'name': 'aj', 'age': 12, 'add': 'ktm'},
 2: {'name': 'hari', 'age': 19, 'add': 'bkt'},
 3: {'name': 'shyam', 'age': 18, 'add': 'lal'}}

In [21]:
for i in a.values():
    print(i)

{'name': 'aj', 'age': 12, 'add': 'ktm'}
{'name': 'hari', 'age': 19, 'add': 'bkt'}
{'name': 'shyam', 'age': 18, 'add': 'lal'}

In [2]:
a={1: {'name': 'ram', 'age': 12, 'add': 'ktm'},
 2: {'name': 'hari', 'age': 19, 'add': 'bkt'},
 3: {'name': 'shyam', 'age': 18, 'add': 'lal'}}
for i in a.values():
    phone=int(input("Enter no="))
    i['phone']=phone
a

Enter no=21321213
Enter no=123123123
Enter no=132131232

{1: {'name': 'ram', 'age': 12, 'add': 'ktm', 'phone': 21321213},
 2: {'name': 'hari', 'age': 19, 'add': 'bkt', 'phone': 123123123},
 3: {'name': 'shyam', 'age': 18, 'add': 'lal', 'phone': 132131232}}

In [3]:
for i in a.values():
    ntc_phone=int(input("Enter ntc="))
    ncell_phone=int(input("Enter ncell="))
    i['phone']=[ntc_phone,ncell_phone]
a

Enter ntc=8238325
Enter ncell=325325252
Enter ntc=523523532523532
Enter ncell=235232323
Enter ntc=2352352352352
Enter ncell=23523523

{1: {'name': 'ram', 'age': 12, 'add': 'ktm', 'phone': [8238325, 325325252]},
 2: {'name': 'hari',
  'age': 19,
  'add': 'bkt',
  'phone': [523523532523532, 235232323]},
 3: {'name': 'shyam',
  'age': 18,
  'add': 'lal',
  'phone': [2352352352352, 23523523]}}