In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=9578e53533bcabe0ee837402c49f717a16beeefd95f18506be49a0e4fd3c5aee
  Stored in directory: c:\users\adarsha joshi\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [3]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python3pm"
)
db = database.cursor()

In [5]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 78, 82, 92, 88, 82, 413, 83.0, 'A', 'Hari')
(2, 68, 82, 92, 88, 82, 413, 83.0, 'A', 'Harry')
(3, 89, 78, 98, 67, 87, 430, 85.0, 'A', 'Mosh')

In [6]:
db.execute("SELECT sn,name,total FROM student")
result =db.fetchall()
result

[(1, 'Hari', 413), (2, 'Harry', 413), (3, 'Mosh', 430)]

In [14]:
sql=f"INSERT INTO student(SN, Physics, Chemistry, Math, English,Nepali,Total,Percentage,Grade,Name) VALUES (5,90,89,89,87,68,490,85,'A','Kevin')"
db.execute(sql)
database.commit()

In [16]:
sql = "SELECT * FROM student WHERE math>=90"
db.execute(sql)

result =db.fetchall()
for x in result:
    print(x)

(1, 78, 82, 92, 88, 82, 413, 83.0, 'A', 'Hari')
(2, 68, 82, 92, 88, 82, 413, 83.0, 'A', 'Harry')
(3, 89, 78, 98, 67, 87, 430, 85.0, 'A', 'Mosh')

In [ ]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python3pm"
)
db = database.cursor()
n=int(input("Enter the number of records"))
for i in range(n):
    name=input("Enter name")
    physics=int(input('Enter physics marks'))
    chemistry=int(input('Enter chemistry marks'))
    english=int(input('Enter english marks'))
    math=int(input('Enter math marks'))
    nepali=int(input('Enter nepali marks'))
    total=physics+chemistry+english+math+nepali
    percentage=total/5
    if percentage>=80:
        grade='A'
    elif percentage>=70:
        grade="B"
    elif percentage>=60:
        grade="C"
    else:
        grade="D"

    sql=f"INSERT INTO student(Physics, Chemistry, Math, English,Nepali,Total,Percentage,Grade,Name) VALUES ({physics},{chemistry},{math},{english},{nepali},{total},{percentage},'{grade}','{name}')"
    db.execute(sql)
    database.commit()

Enter the number of records