In [1]:
#a={}
#d=dict()
#d={<key>:value}

In [6]:
d={
    "a":"apple",
    "b":"ball"
}
print(d)

{'a': 'apple', 'b': 'ball'}

In [9]:
d['a']

'apple'

In [10]:
len(d)

2

In [12]:
d['a']='apples'
d['a']

'apples'

In [13]:
d={
    "a":"apple",
    "b":"ball"
}
d['d']='dog'
d

{'a': 'apple', 'b': 'ball', 'd': 'dog'}

In [16]:
d={}
d['a']='apple',
d['b']='ball'
d

{'a': ('apple',), 'b': 'ball'}

In [17]:
d={}
n=int(input("enter n="))
for i in range(n):
    name=input("Enter name=")
    phone=int(input("enter phone="))
    d[name]=phone
print(d)

enter n=2
Enter name=aj
enter phone=98742141
Enter name=sa
enter phone=12312312
{'aj': 98742141, 'sa': 12312312}

In [19]:
d['aj']

98742141

In [22]:
for i in d.values():
    print(i)

98742141
12312312

In [23]:
for i in d.items():
    print(i)

('aj', 98742141)
('sa', 12312312)

In [25]:
for i in d:
    print(i)

aj
sa

In [27]:
x=[]
for i in d.items():
    x.append(i)
x

[('aj', 98742141), ('sa', 12312312)]

In [28]:
dict(x)

{'aj': 98742141, 'sa': 12312312}

In [29]:
d={'aj': 98742141, 'sa': 12312312}
c={'hari':12123123}
d.update(c)
d

{'aj': 98742141, 'sa': 12312312, 'hari': 12123123}

In [33]:
d={('aj','shyam'): 98742141, 'sa': 12312312}
d

{('aj', 'shyam'): 98742141, 'sa': 12312312}

In [35]:
d[('aj','shyam')]

98742141

In [37]:
d={'aj': 98742141, 'sa': 12312312, 'hari': 12123123}
del d['sa']
d

{'aj': 98742141, 'hari': 12123123}

In [38]:
d={'aj': [98742141,1412401240], 'sa': [1231231212,8929860969]}
d

{'aj': [98742141, 1412401240], 'sa': [1231231212, 8929860969]}

In [42]:
print(d['aj'])
print(d['aj'][0])

[98742141, 1412401240]
98742141

In [45]:
d={}
n=int(input("Enter n:"))
for i in range(n):
    name=input("Enter name")
    ntc=int(input("Enter ntc no:"))
    ncell=int(input("Enter ncell no:"))
    d[name]=[ntc,ncell]
    
d

Enter n:2
Enter nameram
Enter ntc no:324232
Enter ncell no:32432
Enter namehari
Enter ntc no:8689698
Enter ncell no:8688968998698

{'ram': [324232, 32432], 'hari': [8689698, 8688968998698]}

In [47]:
d['ram'][1]

32432

In [49]:
d={'ram': [324232, 32432], 'hari': [8689698, 8688968998698]}
for i in d.items():
    print(i)

('ram', [324232, 32432])
('hari', [8689698, 8688968998698])

In [51]:
a={'ram': [324232, 32432], 'hari': [8689698, 8688968998698]}
a['asd']=[1232112312,1231231234]
a

{'ram': [324232, 32432],
 'hari': [8689698, 8688968998698],
 'asd': [1232112312, 1231231234]}

In [52]:
a={'ram': [324232, 32432], 'hari': [8689698, 8688968998698]}
a['ram'].append(49236984623)
a

{'ram': [324232, 32432, 49236984623], 'hari': [8689698, 8688968998698]}

In [54]:
name=[]
age=[]
add=[]
n=int(input("n="))
for i in range(n):
    na=input("Enter name:")
    ag=int(input("Enter age:"))
    ad=input("Enter address:")
    name.append(na)
    age.append(ag)
    add.append(ad)
a={'name':name,'add':add,'age':age}
a

n=2
Enter name:ram
Enter age:21
Enter address:ktm
Enter name:hari
Enter age:10
Enter address:bkt

{'name': ['ram', 'hari'], 'add': ['ktm', 'bkt'], 'age': [21, 10]}