In [3]:
a=[
    [1,3,2],
    [4,5,6],
    [7,8,9]]
print(a)
print(type(a))

[[1, 3, 2], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [4]:
a[2][2]

9

In [5]:
a=[
    ["Ram",18,"ktm"],
    ["hari",24,'Bkt'],
    ["hari",21,"Lalitpur"]
]
a

[['Ram', 18, 'ktm'], ['hari', 24, 'Bkt'], ['hari', 21, 'Lalitpur']]

In [6]:
a[1]

['hari', 24, 'Bkt']

In [7]:
a[2]

['hari', 21, 'Lalitpur']

In [11]:
a=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    age=int(input("Enter age="))
    add=input("Enter address=")
    i=[name,age,add]
    a.append(i)
    
print(a)

Enter n=2
Enter name=aj
Enter age=18
Enter address=ktm
Enter name=jose
Enter age=26
Enter address=por
[['aj', 18, 'ktm'], ['jose', 26, 'por']]

In [14]:
a=[['aj', 18, 'ktm'], ['jose', 26, 'por']]
a[1]=('Ram',12,'Arg')
a

[['aj', 18, 'ktm'], ('Ram', 12, 'Arg')]

In [15]:
a=[['aj', 18, 'ktm'], ['jose', 26, 'por']]
for i in a:
    print(i)

['aj', 18, 'ktm']
['jose', 26, 'por']

In [18]:
a=[['aj', 18, 'ktm'], ['jose', 26, 'por'],['aj', 24, 'dhg']]
sea=input("Enter name")
for i in a:
    if sea in i:
        print(i)

Enter namejose
['jose', 26, 'por']

In [20]:
a=[['aj', 18, 'ktm'], ['jose', 26, 'por'],['aj', 24, 'dhg']]
sea=input("Enter name")
c=0
for i in a:
    if sea in i:
        c=c+1
        print(i)
        
print(c)

Enter nameaj
['aj', 18, 'ktm']
['aj', 24, 'dhg']
2

In [2]:
#create a matrix using with row and column
r=int(input("Enter the number of rows"))
c=int(input("Enter the number of column"))
a=[]
for i in range(r):
    y=[]
    for j in range(c):
        x=int(input("x="))
        y.append(x)
    a.append(y)
print(a)

Enter the number of rows2
Enter the number of column2
x=1
x=2
x=3
x=4
[[1, 2], [3, 4]]

In [3]:
a=[i for i in range(5) ]
a

[0, 1, 2, 3, 4]

In [5]:
a=[i for i in range(1,21) ]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
a=[i for i in range(1,21) if i%2==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
a=['APPLE','Ball','cat','Dog']
b=[i for i in a if i.isupper()]
b

['APPLE']

In [17]:
a=[]
n=int(input("enter the number of items"))
for i in range(n):
    name=input("Enter name=")
    price=int(input("Enter price="))
    quan=int(input("Enter quantity="))
    info=[name,price,quan,price*quan]
    a.append(info)
b=['name','price','quan','total']
print(b)
for i in a:
    print(a)

enter the number of items2
Enter name=apple
Enter price=100
Enter quantity=12
Enter name=banana
Enter price=12
Enter quantity=123
['name', 'price', 'quan', 'total']
[['apple', 100, 12, 1200], ['banana', 12, 123, 1476]]
[['apple', 100, 12, 1200], ['banana', 12, 123, 1476]]