In [1]:
#range(5)  0,1,2,3,4
#range(1,5) 1,2,3,4,5
#range(1,5,2) 1,3,5

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,5):
    print(i)

1
2
3
4

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(5):
    print("Hello World",i)

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4

In [9]:
for i in range(11):
    print(5*i)

0
5
10
15
20
25
30
35
40
45
50

In [12]:
n=int(input("Enter the value of n"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter the value of n10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [15]:
for i in range(2):
    x=input("Enter the value of x =")
    print(x)

Enter the value of x =10
10
Enter the value of x =20
20

In [18]:
s=0
n=int(input("Enter the value of n="))
for i in range(n):
    x=int(input("Enter the value of x ="))
    s=s+x
print(s)

Enter the value of n=3
Enter the value of x =10
Enter the value of x =20
Enter the value of x =3
33

In [20]:
s=str()
n=int(input("Enter the value of n="))
for i in range(n):
    x=input("Enter the value of x =")
    s=s+x+" "
print(s)

Enter the value of n=2
Enter the value of x =hello
Enter the value of x =ram
hello ram

In [24]:
s=str()
n=int(input("Enter the value of n="))
for i in range(n):
    name=input("Enter name =")
    num=input("Enter number=")
    s=s+name+" "+str(num)+"\n"
print(s)

Enter the value of n=2
Enter name =ram
Enter number0981280312
Enter name =sada
Enter number1231242121
ram 0981280312
sada 1231242121

In [27]:
n=1
a=int(input("Enter the value of a="))
for i in range(1,a+1):
    n=n*i
print(n)

Enter the value of a=5
120

In [33]:
a="Python"
for i in a[0:4]:
    print(i)

P
y
t
h

In [32]:
a="Python"
print(a[0:4])

Pyth

In [38]:
a="Python"
n=len(a)
for i in range(n):
    print(a[i],end=" ")

P y t h o n

In [43]:
a="Python"
n=len(a)
for i in range(n+1):
    print(a[i],end=" ")

P